<div class="card-content white-text">
    <span class="card-title black-text">Clases</span>
</div>
{% if classrooms %}
<ul class="collapsible">
    {% for classroom in classrooms %}
    <li>
        <div class="collapsible-header">{{ classroom.id }}</div>
        <div class="collapsible-body">
            <div class="row">Descripcion: {{ classroom.description }}</div>
            <div class="row">Duracion: {{ classroom.duration }}</div>
            <div class="row">
                <table>
                    <thead>
                    <tr>
                        <th>Profesor</th>
                        <th>Desmatricular</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for enrolment_teacher in classroom.get_enrolment_teachers %}
                    <tr>
                        <td>{{ enrolment_teacher.person.user.get_full_name }}</td>
                        <td>
                            <button class="btn btn-flat waves-effect waves-grey">clear</i></button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Dia</th>
                        <th>Hora</th>
                        <th>Lugar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for classroom_day in classroom.get_classroom_days %}
                    <tr>
                        <td>{{ classroom_day.get_day_display }}</td>
                        <td>{{ classroom_day.start_hour }}</td>
                        <td>{{ classroom_day.classroom_place.room }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header">Alumnos</div>
                    <div class="collapsible-body">
                        {% if classroom.get_enrolment_students %}
                            <table>
                                <thead>
                                  <tr>
                                      <th>Nombre</th>
                                      <th>Eliminar</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for enrolment_student in classroom.get_enrolment_students %}
                                    <tr>
                                        <td>{{ enrolment_student.person.user.get_full_name }}</td>
                                        <td><button class="btn btn-flat red-text"><i class="material-icons">clear</i></button></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                        No hay alumnos inscriptos
                        {% endif %}
                    </div>
                </li>
            </ul>
            <center><a class="waves-effect waves-light red btn" href="{% url 'delete' 'Classroom' classroom.id %}"><i class="material-icons right">delete</i>Eliminar</a></center>
        </div>
    </li>
    {% endfor %}		
</ul>
{% else %}
<div class="card-panel teal lighten-3">
        <span>No hay clases actualmente<span>
</div>
{% endif %}
