<div class="card-content white-text">
        <span class="card-title black-text">Jubilados</span>
    </div>
    {% if persons %}
    <ul class="collapsible">
        <li>
            <div class="collapsible-header">Lista</div>
            <div class="collapsible-body">
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Dni</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for retired in persons %}
                        <tr>
                            <td>{{ retired.user.get_full_name }}</td>
                            <td>{{ retired.user.username }}</td>
                            <td><button class="btn btn-flat red-text"><i class="material-icons">clear</i></button></td>
                        </tr>
                        {% endfor %}		
                    </tbody>
                </table>
            </div>
        </li>
    </ul>
    {% else %}
    <div class="card-panel teal lighten-3">
            <span>No hay jubilados registrados<span>
    </div>
    {% endif %}