<div class="card-content white-text">
    <span class="card-title black-text">Salones</span>
</div>
{% if rooms %}
<ul class="collapsible">
    <li>
        <div class="collapsible-header">Salones</div>
        <div class="collapsible-body">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Capacidad</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for room in rooms %}
                    <tr>
                        <td>{{ room.name }}</td>
                        <td>{{ room.capacity }}</td>
                        <td><a class="btn btn-flat red-text" href="{% url 'delete' 'Room' room.id %}"><i class="material-icons">clear</i></a></td>
                    </tr>		
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </li>
</ul>
{% else %}
    <div class="card-panel teal lighten-3">
        <span>No hay salones actualmente<span>
    </div>
{% endif %}		