<div class="card">
    <div class="card-content">
        <form action="{% url 'new_classroom' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12">
                    <input id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}" type="text">
                    <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="{{ form.description.id_for_label }}" name="{{ form.description.html_name }}" type="text">
                    <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="{{ form.duration.id_for_label }}" type="text" name="{{ form.duration.html_name }}" class="timepicker">
                    <label for="{{ form.duration.id_for_label }}">{{ form.duration.label }}</label>
                </div>
            </div>
            <div id="day_div"><!-- Days loads here --></div>
            <div class="row">
                <center>
                    <button class="btn btn-flat" onclick="load_day()">Nuevo dia</button>
                    <button class="btn btn-flat" type="submit">Enviar</button>
                </center>
            </div>
        </form>
    </div>
</div>
<script>
$(document).ready(function(){
    $('.timepicker').timepicker({'twelveHour':false, 'defaultTime': '00:00'});
});
function load_day(){
    $.ajax({
        url:"{% url 'load_form_classroom_day' %}",
        success:function(result){
            var new_div = document.createElement('div');
            new_div.className = 'row days';
            $('#day_div').append(new_div); 
            $('.days').last().html(result);           
        },
        error:function(request, status, error){
            alert(request.responseText)
        }
    });
}
</script>