<ul class="collection with-header">
    <form action="{% url 'new_enrolment_classroom' %}" method="POST">
        <li class="collection-header">
            <h4>
                Solicitud de union a una clase como profesor
            </h4>
        </li>
        <li class="collection-item">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s12">
                        <select name="classroom_id">
                            {% for classroom in classrooms %}
                                <option value="{{ classroom.id }}">{{ classroom.name }}</option>
                            {% endfor %}
                        </select>
                        <label>Clase</label>
                    </div>
                </div>
            </li>
            <li class="collection-item">
                <center>
                    <button class="btn btn-flat" type="submit">Enviar</button>            
                </center>
            </li>
        </form>
    </ul>