{% extends 'mainBase.html' %}
{% load static %}
{% block imports %}
{% endblock imports %}
{% block title %}
Identificacion
{% endblock title %}  
{% block body %}
<div class="row">
    {% for work_day in work_days %}
    {% if work_day.appointment_available %}
    <div class="col s6 m6">
        <div class="card grey lighten-3">
            <div class="card-content">
                <span class="card-title">{{ work_day.day }}</span>
            </div>
            <ul class="collection">
                    {% for appointment in work_day.get_appoiments %}
                        {% if not appointment.person %}
                        <li class="collection-item">
                            {{ appointment.time_attendance }} <button class="btn btn-flat" onclick="confirm_request('{{ appointment.id }}', '{% url 'appointments' %}')"> Solicitar</button>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}