{% extends 'mainBase.html' %}
{% load static %}
{% block imports %}
{% endblock imports %}
{% block title %}
Identificacion
{% endblock title %}  
{% block body %}
<div class="row">
    {% for classroom in classrooms %}
    {% if  1 == 1 %}
    <div class="col s12 xl6">
        <div class="card grey lighten-3">
            <div class="card-content">
                <span class="card-title">{{ classroom.name }}</span>
            </div>
            <ul class="collection">
                <li class="collection-item">
                    Descripcion: {{ classroom.description }}
                </li>
                <li class="collection-item">
                    Duracion: {{ classroom.duration }}
                </li>
                <li class="collection-item">
                    <table>
                        <thead>
                            <tr>
                                <th>Dia</th>
                                <th>Salon</th>
                                <th>Hora de inicio</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for day in classroom.get_classroom_days %}
                            <tr>
                                <td>{{ day.get_day_display }}</td>
                                <td>{{ day.classroom_place.room }}</td>
                                <td>{{ day.start_hour }}</td>
                            </tr>
                            {% endfor %}                            
                        </tbody>
                    </table>    
                </li>
                {% if 1 == 2 %}
                <li class="collection-item">
                    <center>
                        <button class="btn btn-flat red white-text" onclick="confirm_request('{{ classroom.id }}', '{% url 'classrooms' %}')">Unirse</button>
                    </center>
                </li>
                {% else %}
                <li class="collection-item">
                    <center>
                        <h6 class="red-text" >Usted ya esta registrado en una clase en este horario</h6>
                    </center>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}