{% extends 'mainBase.html' %}
{% load static %}
{% block imports %}
{% endblock imports %}
{% block title %}
Identificacion
{% endblock title %}  
{% block body %}
<style>
	body {
		background-image: url("{% static 'img/mariposa.jpg' %}");
	}
</style>
<div class="row">
	<br>
	<div class="col s5">
		<div class="col s11 offset-s1">
			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Iniciar Sesión</span>
					<form action="{% url 'my_login' %}" method="POST">
						{% csrf_token %}
						<div class="row">
							<div class="input-field col s12">
								<input id="name" type="text" name="personal_id" required>
								<label class="white-text" for="name">Dni</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input id="password" type="password" name="password" required>
								<label class="white-text" for="password">Contraseña</label>
							</div>
						</div>
						{% if error %}
							<div class="row">
								<div class="col s12 red-text center">
									{{ error }}
								</div>
							</div>
						{% endif %}
						<div class="row">
							<center>
									<button class="btn btn-flat white-text" type="submit">Ingresar</button>
							</center>
						</div>
						<div class="row center">
							Si no esta registrado <a href="{% url 'my_register' %}" class="pink-text">registrese aqui!</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock body %}