{% extends 'mainBase.html' %}
{% load static %}
{% block imports %}
{% endblock imports %}
{% block title %}
Identificacion
{% endblock title %}
{% block parallax %}
<img src="{% static 'img/matrimonio.jpg' %}">
{% endblock parallax %}  
{% block body %}
<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="col s10 offset-s1">
                <h2 class="black-text">Centro de jubilados</h2>
                <div class="row">
                    <span><font size="4">Somos un centro preparado para asistir y acompañar a personas de tercera edad ya jubiladas. Cualquoer adulto mayor que quiera gozar de nuestros servicios podra inscribirse al centro de manera gratuita.</font></span>
                </div>    
            </div>
        </div>
            <div class="row">
                <div class="col s8 offset-s2">
                    <div class="col s4">
                        <div class="row">
                            <div class="col s11">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="{% static 'img/salud.jpg' %}">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title" style="color: black">Salud</span>
                                        <p>Médicos clínicos perfectamente capacitados para asistir a ancianos y cuidar su salud.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="row">
                            <div class="col s11">
                            <div class="card">
                                <div class="card-image">
                                    <img src="{% static 'img/educacion.png' %}">
                                </div>
                                <div class="card-content">
                                    <span class="card-title" style="color: black">Educacion</span>
                                    <p>Docentes del mejor nivel para enseñar y dirijir cursos para los miembros del centro</p>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>    
                    <div class="col s4">
                        <div class="card">
                            <div class="card-image">
                                <img src="{% static 'img/recreacion.jpg' %}">
                            </div>
                            <div class="card-content">
                                <span class="card-title" style="color: black">Salud</span>
                                <p>Una gran diversidad de actividades recreactivas para que el entretenimiento y la diversion no falte</p>
                            </div>
                        </div>
                        </div>
                    </div>
            </div>
    </div>
</div>
<style>
    .parallax-container {
        height: 500px;
    }
</style>
{% endblock body %}