{% extends 'mainBase.html' %}
{% load static %}
{% block imports %}
{% endblock imports %} 
{% block title %}
{% endblock title %} 
{% block navbar %}
{% endblock navbar %}	
{% block body %}
<p>
	<div class="row">
		<div class="col s2">
			<div id="card" class="card-panel brown darken-2">
				<ul class="collapsible popout">
					<span class="white-text"><center><font size="4">Clases</font></center></span>
					{% for classroom in classrooms %}
						<li>	
							<div class="collapsible-header blue-grey lighten-4" style="font-size: 16px;">{{ classroom.name }}</div>
							<div class="collapsible-body blue-grey lighten-4">
								{% for teacher in classroom.get_teachers %}
									<p>profesor: {{ teacher.person.user.get_full_name }}</p>
								{% endfor %}
								<table>
									<thead>
										<tr>
											<th>Dia</th>
											<th>Hora</th>
											<th>Capacidad</th>
										</tr>
									</thead>
									<tbody>
									{% for day in classroom.get_classroom_days %}
										<tr>
										<td>{{ day.get_day_display }}</td>
										<td>{{ day.start_hour }}</td>
										<td>{{ day.classroom_place.capacity }}</td>
										</tr>
									{% endfor %}
									</tbody>
								</table>
							</div>
						</li>	
					{% endfor %}	
				</ul>
			</div>
			<div id="card" class="card-panel brown darken-2">
				<ul class="collapsible popout">
					<span class="white-text"><center><font size="4">Turnos</font></center></span>
					{% for appointment in appointments %}
						<li>	
							<div class="collapsible-header blue-grey lighten-4" style="font-size: 16px;">{{ appointment.work_day.doctor.user.get_full_name }}</div>
							<div class="collapsible-body blue-grey lighten-4">
								<p>Dia: {{ appointment.work_day.day }}</p>
								<p>Hora: {{ appointment.time_attendance }}</p>
								{% if appointment.person %}
									<p>Paciente: {{ appointment.person.user.get_full_name }}</p>
								{% endif %}
							</div>
						</li>	
					{% endfor %}
				</ul>						    						    													
			</div>	 			        
		</div>
		<div class="col s8">
		   <div class="row">
				<div class="card col s10 offset-s1 blue-grey darken-1">
					<div class="row ">
						<center>
							<span class="black-text"><h3>Peticiones</h3></span>
						</center>
					</div>
					<div class="row col s12">
						<ul class="collapsible popout">
							{% for person in person_requests %}
							<li>
								<div class="collapsible-header blue-grey lighten-4">
									<font size="5">Solicitud de creacion de {{ person.get_user_type_display }}</font>
								</div>
								<div class="collapsible-body blue-grey lighten-4">     
									<p>Nombre: {{ person.user.get_full_name }}</p>
									<p>DNI: {{ person.user }}</p>
									<center>
										<a class="waves-effect waves-light btn green"><i class="small material-icons right">check</i>Aceptar</a>													
										<a class="waves-effect waves-light btn red"><i class="small material-icons right">clear</i>Rechazar</a>
									</center>
								</div>
							</li>		
							{% endfor %}
							{% for classroom_request in classroom_requests %}
							<li>
								<div class="collapsible-header blue-grey lighten-4">
									<font size="5">Solicitud de crear clase: {{ classroom_request.name }}</font>
								</div>
								<div class="collapsible-body blue-grey lighten-4">     
									<p>Descripcion: {{ classroom_request.description }}</p>
									<p>Duracion: {{ classroom_request.duration }}</p>
									<p>Profesor solicitante: {{ classroom_request.teacher.user.get_full_name }}</p>
									<div class="row">
										<table>
											<thead>
												<tr>
													<th>Dias</th>
													<th>Hora</th>
												</tr>
											</thead>
											<tbody>
											{% for day in classroom_request.get_days %}
												<tr>
												<td>{{ day.get_day_display }}</td>
												<td>{{ day.start_hour }}</td>
												</tr>
											{% endfor %}
											</tbody>
										</table>
									</div>
									<div class="row">
										<center>
											<a class="waves-effect waves-light btn green"><i class="small material-icons right">check</i>Aceptar</a>													
											<a class="waves-effect waves-light btn red"><i class="small material-icons right">clear</i>Rechazar</a>
										</center>
									</div>
								</div>
							</li>		
							{% endfor %}
							{% for enrolment_teacher_request in enrolment_teacher_requests %}
							<li>
								<div class="collapsible-header blue-grey lighten-4">
									<font size="5">Solicitud de ser profesor de la clase {{ enrolment_teacher_request.classroom.name }}</font>
								</div>
								<div class="collapsible-body blue-grey lighten-4">     
									<p>Profesor solicitante: {{ enrolment_teacher_request.person.user.get_full_name }}</p>
									<center>
										<a class="waves-effect waves-light btn green"><i class="small material-icons right">check</i>Aceptar</a>													
										<a class="waves-effect waves-light btn red"><i class="small material-icons right">clear</i>Rechazar</a>
									</center>
								</div>
							</li>		
							{% endfor %}
							{% for enrolment_student_request in enrolment_student_requests %}
							<li>
								<div class="collapsible-header blue-grey lighten-4">
									<font size="5">Solicitud para participar en la clase: {{ enrolment_student_request.classroom.name }}</font>
								</div>
								<div class="collapsible-body blue-grey lighten-4">     
									<p>Persona solicitante: {{ enrolment_student_request.person.user.get_full_name }}</p>
									<center>
										<a class="waves-effect waves-light btn green"><i class="small material-icons right">check</i>Aceptar</a>													
										<a class="waves-effect waves-light btn red"><i class="small material-icons right">clear</i>Rechazar</a>
									</center>
								</div>
							</li>		
							{% endfor %}
							{% for work_day_request in work_day_requests %}
							<li>
								<div class="collapsible-header blue-grey lighten-4">
									<font size="5">Solicitud de dia de trabajo: {{ work_day_request.day }}</font>
								</div>
								<div class="collapsible-body blue-grey lighten-4">     
									<p>Doctor solicitante: {{ work_day_request.doctor.user.get_full_name }}</p>
									<center>
										<a class="waves-effect waves-light btn green"><i class="small material-icons right">check</i>Aceptar</a>													
										<a class="waves-effect waves-light btn red"><i class="small material-icons right">clear</i>Rechazar</a>
									</center>
								</div>
							</li>		
							{% endfor %}
							{% for appointment_request in appointment_requests %}
							<li>
								<div class="collapsible-header blue-grey lighten-4">
									<font size="5">Solicitud de turno con el doctor: {{ appointment_request.work_day.doctor.user.get_full_name }}</font>
								</div>
								<div class="collapsible-body blue-grey lighten-4">     
									<p>Persona solicitante: {{ appointment_request.person.user.get_full_name }}</p>
									<p>Dia: {{ appointment_request.work_day.day }}</p>
									<p>Hora: {{ appointment_request.time_attendance }}</p>
									<center>
										<a class="waves-effect waves-light btn green"><i class="small material-icons right">check</i>Aceptar</a>													
										<a class="waves-effect waves-light btn red"><i class="small material-icons right">clear</i>Rechazar</a>
									</center>
								</div>
							</li>		
							{% endfor %}

						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col s2">
			<div id="card" class="card-panel brown darken-2">
				<div class="row">
					<ul class="collapsible popout">
						<span class="white-text"><center><font size="4">Profesores</font></center></span>
						{% for teacher in teachers %}
						<li>	
							<div class="collapsible-header blue-grey lighten-4" style="font-size: 16px;">{{ teacher.user.get_full_name }}</div>
							<div class="collapsible-body blue-grey lighten-4">
								dni: {{ teacher.user }}
							</div>
						</li>	
						{% endfor %}
					</ul>
				</div>
			</div>
			<div id="card" class="card-panel brown darken-2">
				<div class="row">
					<ul class="collapsible popout">
						<span class="white-text"><center><font size="4">Jubilados</font></center></span>
						{% for retired in retireds %}
						<li>	
							<div class="collapsible-header blue-grey lighten-4" style="font-size: 16px;">{{ retired.user.get_full_name }}</div>
							<div class="collapsible-body blue-grey lighten-4">
								dni: {{ retired.user }}
							</div>
						</li>	
						{% endfor %}
					</ul>
				</div>
			</div>
			<div id="card" class="card-panel brown darken-2">
				<div class="row">
					<ul class="collapsible popout">
						<span class="white-text"><center><font size="4">Doctores</font></center></span>
						{% for doctor in doctors %}
						<li>	
							<div class="collapsible-header blue-grey lighten-4" style="font-size: 16px;">{{ doctor.user.get_full_name }}</div>
							<div class="collapsible-body blue-grey lighten-4">
								dni: {{ doctor.user }}
							</div>
						</li>	
						{% endfor %}	
					</ul>
				</div>
			</div>											
		</div>
	</div>
</p>
{% endblock body %}