{% extends 'mainBase.html' %}
{% load static %}
{% block imports %}
{% endblock imports %}
{% block title %}
Perfil profesor
{% endblock title %}  
{% block body %}
<div class="row">
    <div class="col s3">
        <div class="row">
            <div id="classroom_form" class="col s12">
                <div class="card-panel pink lighten-3">
                    <center>
                        <button class="btn btn-flat" onclick="load_solo('{% url 'load_form_classroom' %}', 'classroom_form')">Nueva clase</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div class="col s9">
    {% for enrolment in duties %}
        <div class="row">
            <div class="card col s10 offset-s1 blue-grey darken-1">
                <div class="row">
                    <div class=" card-panel white col s12">
                        <div class=" col s8">
                            <span class=" card-title center">{{ enrolment.classroom.name }}</span>
                        </div>
                        <div class="col s4">
                            <label>
                                <button  class="btn waves-effect waves-light green teal lighten-1 text-darken-2"> <i class=" small material-icons right">  edit</i> modificar clase</button>
                                <button  class="btn waves-effect waves-light red teal lighten-1 text-darken-2"><i class=" small material-icons right">  delete</i> Eliminar clase</button>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card-panel blue-grey lighten-3">
                        <p>{{ enrolment.classroom.description }}</p>
                    </div>
                </div>   
                <div class="row">
                    <div class="card-panel grey"> 
                        <span>{{ enrolment.classroom.get_next_day.get_day_display }}</span>
                        <span>{{ enrolment.classroom.get_next_day.start_hour}}</span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock body %}  
