{% extends 'mainBase.html' %}
{% load static %}
{% block imports %}
{% endblock imports %} 
{% block title %}
{% endblock title %} 
{% block navbar %}
{% endblock navbar %}	
{% block body %}
<div class="row">
    <div class="col s3">
        <div class="col s12">
            <ul class="collection with-header">
                <li class="collection-header"><h4>Perfil</h4></li>
                <li class="collection-item">
                    <div class="row">
                        Nombre: {{ person.user.get_full_name |title }}
                    </div>
                    <div class="row">
                        Dni: {{ person.user }}
                    </div>
                </li>
                <li class="collection-item">
                    <div>
                        <center> 
                            <button class="btn btn-flat waves-effect waves-grey" onclick="load_solo('{% url 'form_work_day' %}', 'place_form_work_day')">Agregar dia de trabajo</button>
                        </center>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col s12" id="place_form_work_day">
            <!-- new work day request -->
        </div>
    </div>
    <div class="col s7">  
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content black-text">
                        <span class="card-title center">Dias de trabajo</span>
                    </div>  
                    <ul class="collapsible grey lighten-3">
                        {% for work_day in work_days %}
                        <li>
                            <div class="collapsible-header"><i class="material-icons">details</i>{{ work_day.day }}</div>
                            <div class="collapsible-body">
                                <span>Turnos</span>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Paciente</th>
                                            <th>Hora</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for appoinment in work_day.get_all_appointments  %}
                                        <tr>
                                            {% if appoinment.person %}
                                                <td>{{ appoinment.person }}</td>
                                            {% else %}
                                                <td>Nadie ha solicitado este turno</td>
                                            {% endif  %}
                                            <td>{{ appoinment.time_attendance }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>                          
    </div>
</div>
{% endblock body %}
