{% extends 'mainBase.html' %}
{% load static %}
{% block imports %}
{% endblock imports %}
{% block title %}
Identificacion
{% endblock title %}  
{% block body %}
            <p>
                <div class="row">
                    <div class="col s2">
                        <div id="card" class="card-panel brown darken-2">
                            <span><font size="4" style="color:#e0f7fa;font-weight: bold;"><center>Perfil</center></font></span>
                            <p>   
                                <div>
                                    <span>
                                        <font size="3" style="color:#e0f7fa;">
                                            <span>Nombre:</span>
                                            <p><span>DNI:</span></p>
                                            <p></p>
                                        </font>
                                    </span>
                                </div>  
                            </p>
                        </div>                
                        <div id="card" class="card-panel brown darken-2">
                            <span><font size="4" style="color:#e0f7fa;font-weight: bold;"><center>Agregar Dia de trabajo</center></font></span>
                            <p>   
                                <div>
                                    <span>
                                        <font size="3">
                                            <input type="text" class="datepicker" style="color:#e0f7fa;">
                                        </font>
                                        <p>
                                            <center>
                                                <a class="waves-effect waves-light btn green"><i class="small material-icons right">check</i>Agregar</a>
                                            </center>  
                                        </p>
                                    </span>
                                </div>  
                            </p>
                        </div>                        
                    </div>
                    <div class="col s8">
                       <div class="row">
                            <div class="card col s10 offset-s1 blue-grey darken-1">
                                <div class="row ">
                                    <center>
                                        <span style="color:#263238;"><h3>Horarios</h3></span>
                                    </center>
                                </div>
                                <div class="row col s12">
                                    <div class="row">
                                        <ul class="collapsible popout">
                                            <p>
                                                <li>
                                                    <div class="collapsible-header blue-grey lighten-4" style="font-size: 16px;"><font size="5">Lunes (Fecha)</font></div>
                                                    <div class="collapsible-body blue-grey lighten-4">
                                                        <div class="row">
                                                            <ul class="collapsible popout">
                                                                <p>
                                                                    <li>
                                                                        <div class="collapsible-header blue-grey lighten-3" style="font-size: 16px;">Turno 1 (Horario)</div>
                                                                        <div class="collapsible-body blue-grey lighten-3">
                                                                            <span style="font-size: 15px;">Nombre:</span>
                                                                            <p><span style="font-size: 15px;">DNI:</span><p>
                                                                            <center>
                                                                                <a class="waves-effect waves-light btn red"><i class="small material-icons right">clear</i>Cancelar</a>
                                                                            </center>                                                                                 
                                                                        </div>                                                                       
                                                                    </li>
                                                                </p>
                                                            </ul>
                                                            <ul class="collapsible popout">
                                                                <p>
                                                                    <li>
                                                                        <div class="collapsible-header blue-grey lighten-3" style="font-size: 16px;">Turno 2 (Horario)</div>
                                                                        <div class="collapsible-body blue-grey lighten-3">
                                                                            <span style="font-size: 15px;">Nombre:</span>
                                                                            <p><span style="font-size: 15px;">DNI:</span><p>
                                                                            <center>
                                                                                <a class="waves-effect waves-light btn red"><i class="small material-icons right">clear</i>Cancelar</a>
                                                                            </center>                                                                                
                                                                        </div>
                                                                    </li>
                                                                </p>
                                                            </ul>
                                                            <ul class="collapsible popout">
                                                                <p>
                                                                    <li>
                                                                        <div class="collapsible-header blue-grey lighten-3" style="font-size: 16px;">Turno 3 (Horario)</div>
                                                                        <div class="collapsible-body blue-grey lighten-3">
                                                                            <span style="font-size: 15px;">Nombre:</span>
                                                                            <p><span style="font-size: 15px;">DNI:</span><p>
                                                                            <center>
                                                                                <a class="waves-effect waves-light btn red"><i class="small material-icons right">clear</i>Cancelar</a>
                                                                            </center>                                                                                
                                                                        </div>
                                                                    </li>
                                                                </p>
                                                            </ul>
                                                        </div>
                                                        <center>
                                                            <a class="waves-effect waves-light btn red"><i class="small material-icons right">clear</i>Eliminar dia de trabajo</a>
                                                        </center>
                                                    </div>          
                                                </li>
                                            </p>
                                        </ul>
                                    </div>
                                    <div class="row">
                                        <ul class="collapsible popout">
                                            <p>
                                                <li>
                                                    <div class="collapsible-header blue-grey lighten-4" style="font-size: 16px;"><font size="5">Martes (Fecha)</font></div>
                                                    <div class="collapsible-body blue-grey lighten-4">
                                                        <div class="row">
                                                            <ul class="collapsible popout">
                                                                <p>
                                                                    <li>
                                                                        <div class="collapsible-header blue-grey lighten-3" style="font-size: 16px;">Turno 1 (Horario)</div>
                                                                        <div class="collapsible-body blue-grey lighten-3">
                                                                            <span style="font-size: 15px;">Nombre:</span>
                                                                            <p><span style="font-size: 15px;">DNI:</span><p>
                                                                            <center>
                                                                                <a class="waves-effect waves-light btn red"><i class="small material-icons right">clear</i>Cancelar</a>
                                                                            </center>                                                                                
                                                                        </div>
                                                                    </li>
                                                                </p>
                                                            </ul>
                                                            <ul class="collapsible popout">
                                                                <p>
                                                                    <li>
                                                                        <div class="collapsible-header blue-grey lighten-3" style="font-size: 16px;">Turno 2 (Horario)</div>
                                                                        <div class="collapsible-body blue-grey lighten-3">
                                                                            <span style="font-size: 15px;">Nombre:</span>
                                                                            <p><span style="font-size: 15px;">DNI:</span><p>
                                                                            <center>
                                                                                <a class="waves-effect waves-light btn red"><i class="small material-icons right">clear</i>Cancelar</a>
                                                                            </center>                                                                                
                                                                        </div>
                                                                    </li>
                                                                </p>
                                                            </ul>
                                                            <ul class="collapsible popout">
                                                                <p>
                                                                    <li>
                                                                        <div class="collapsible-header blue-grey lighten-3" style="font-size: 16px;">Turno 3 (Horario)</div>
                                                                        <div class="collapsible-body blue-grey lighten-3">
                                                                            <span style="font-size: 15px;">Nombre:</span>
                                                                            <p><span style="font-size: 15px;">DNI:</span><p>
                                                                            <center>
                                                                                <a class="waves-effect waves-light btn red"><i class="small material-icons right">clear</i>Cancelar</a>
                                                                            </center>                                                                                
                                                                        </div>
                                                                    </li>
                                                                </p>
                                                            </ul>
                                                        </div>
                                                        <center>
                                                            <a class="waves-effect waves-light btn red"><i class="small material-icons right">clear</i>Eliminar dia de trabajo</a>
                                                        </center>                                                        
                                                    </div>
                                                </li>
                                            </p>
                                        </ul>
                                    </div> 
                                    <div class="row">
                                        <ul class="collapsible popout">
                                            <p>
                                                <li>
                                                    <div class="collapsible-header blue-grey lighten-4" style="font-size: 16px;"><font size="5">Miercoles (Fecha)</font></div>
                                                    <div class="collapsible-body blue-grey lighten-4">
                                                        <div class="row">
                                                            <ul class="collapsible popout">
                                                                <p>
                                                                    <li>
                                                                        <div class="collapsible-header blue-grey lighten-3" style="font-size: 16px;">Turno 1 (Horario)</div>
                                                                        <div class="collapsible-body blue-grey lighten-3">
                                                                            <span style="font-size: 15px;">Nombre:</span>
                                                                            <p><span style="font-size: 15px;">DNI:</span><p>
                                                                            <center>
                                                                                <a class="waves-effect waves-light btn red"><i class="small material-icons right">clear</i>Cancelar</a>
                                                                            </center>                                                                                
                                                                        </div>
                                                                    </li>
                                                                </p>
                                                            </ul>
                                                            <ul class="collapsible popout">
                                                                <p>
                                                                    <li>
                                                                        <div class="collapsible-header blue-grey lighten-3" style="font-size: 16px;">Turno 2 (Horario)</div>
                                                                        <div class="collapsible-body blue-grey lighten-3">
                                                                            <span style="font-size: 15px;">Nombre:</span>
                                                                            <p><span style="font-size: 15px;">DNI:</span><p>
                                                                            <center>
                                                                                <a class="waves-effect waves-light btn red"><i class="small material-icons right">clear</i>Cancelar</a>
                                                                            </center>                                                                                
                                                                        </div>
                                                                    </li>
                                                                </p>
                                                            </ul>
                                                            <ul class="collapsible popout">
                                                                <p>
                                                                    <li>
                                                                        <div class="collapsible-header blue-grey lighten-3" style="font-size: 16px;">Turno 3 (Horario)</div>
                                                                        <div class="collapsible-body blue-grey lighten-3">
                                                                            <span style="font-size: 15px;">Nombre:</span>
                                                                            <p><span style="font-size: 15px;">DNI:</span><p>
                                                                            <center>
                                                                                <a class="waves-effect waves-light btn red"><i class="small material-icons right">clear</i>Cancelar</a>
                                                                            </center>                                                                                
                                                                        </div>
                                                                    </li>
                                                                </p>
                                                            </ul>
                                                        </div>
                                                        <center>
                                                            <a class="waves-effect waves-light btn red"><i class="small material-icons right">clear</i>Eliminar dia de trabajo</a>
                                                        </center>                                                        
                                                    </div>
                                                </li>
                                            </p>
                                        </ul>
                                    </div>
                                    <div class="row">
                                        <ul class="collapsible popout">
                                            <p>
                                                <li>
                                                    <div class="collapsible-header blue-grey lighten-4" style="font-size: 16px;"><font size="5">Jueves (Fecha)</font></div>
                                                    <div class="collapsible-body blue-grey lighten-4">
                                                        <div class="row">
                                                            <ul class="collapsible popout">
                                                                <p>
                                                                    <li>
                                                                        <div class="collapsible-header blue-grey lighten-3" style="font-size: 16px;">Turno 1 (Horario)</div>
                                                                        <div class="collapsible-body blue-grey lighten-3">
                                                                            <span style="font-size: 15px;">Nombre:</span>
                                                                            <p><span style="font-size: 15px;">DNI:</span><p>
                                                                            <center>
                                                                                <a class="waves-effect waves-light btn red"><i class="small material-icons right">clear</i>Cancelar</a>
                                                                            </center>                                                                                
                                                                        </div>
                                                                    </li>
                                                                </p>
                                                            </ul>
                                                            <ul class="collapsible popout">
                                                                <p>
                                                                    <li>
                                                                        <div class="collapsible-header blue-grey lighten-3" style="font-size: 16px;">Turno 2 (Horario)</div>
                                                                        <div class="collapsible-body blue-grey lighten-3">
                                                                            <span style="font-size: 15px;">Nombre:</span>
                                                                            <p><span style="font-size: 15px;">DNI:</span><p>
                                                                            <center>
                                                                                <a class="waves-effect waves-light btn red"><i class="small material-icons right">clear</i>Cancelar</a>
                                                                            </center>                                                                                
                                                                        </div>
                                                                    </li>
                                                                </p>
                                                            </ul>
                                                            <ul class="collapsible popout">
                                                                <p>
                                                                    <li>
                                                                        <div class="collapsible-header blue-grey lighten-3" style="font-size: 16px;">Turno 3 (Horario)</div>
                                                                        <div class="collapsible-body blue-grey lighten-3">
                                                                            <span style="font-size: 15px;">Nombre:</span>
                                                                            <p><span style="font-size: 15px;">DNI:</span><p>
                                                                            <center>
                                                                                <a class="waves-effect waves-light btn red"><i class="small material-icons right">clear</i>Cancelar</a>
                                                                            </center>                                                                                
                                                                        </div>
                                                                    </li>
                                                                </p>
                                                            </ul>
                                                        </div>
                                                        <center>
                                                            <a class="waves-effect waves-light btn red"><i class="small material-icons right">clear</i>Eliminar dia de trabajo</a>
                                                        </center>                                                        
                                                    </div>
                                                </li>
                                            </p>
                                        </ul>
                                    </div> 
                                    <div class="row">
                                        <ul class="collapsible popout">
                                            <p>
                                                <li>
                                                    <div class="collapsible-header blue-grey lighten-4" style="font-size: 16px;"><font size="5">Viernes (Fecha)</font></div>
                                                    <div class="collapsible-body blue-grey lighten-4">
                                                        <div class="row">
                                                            <ul class="collapsible popout">
                                                                <p>
                                                                    <li>
                                                                        <div class="collapsible-header blue-grey lighten-3" style="font-size: 16px;">Turno 1 (Horario)</div>
                                                                        <div class="collapsible-body blue-grey lighten-3">
                                                                            <span style="font-size: 15px;">Nombre:</span>
                                                                            <p><span style="font-size: 15px;">DNI:</span><p>
                                                                            <center>
                                                                                <a class="waves-effect waves-light btn red"><i class="small material-icons right">clear</i>Cancelar</a>
                                                                            </center>                                                                                
                                                                        </div>
                                                                    </li>
                                                                </p>
                                                            </ul>
                                                            <ul class="collapsible popout">
                                                                <p>
                                                                    <li>
                                                                        <div class="collapsible-header blue-grey lighten-3" style="font-size: 16px;">Turno 2 (Horario)</div>
                                                                        <div class="collapsible-body blue-grey lighten-3">
                                                                            <span style="font-size: 15px;">Nombre:</span>
                                                                            <p><span style="font-size: 15px;">DNI:</span><p>
                                                                            <center>
                                                                                <a class="waves-effect waves-light btn red"><i class="small material-icons right">clear</i>Cancelar</a>
                                                                            </center>                                                                                
                                                                        </div>
                                                                    </li>
                                                                </p>
                                                            </ul>
                                                            <ul class="collapsible popout">
                                                                <p>
                                                                    <li>
                                                                        <div class="collapsible-header blue-grey lighten-3" style="font-size: 16px;">Turno 3 (Horario)</div>
                                                                        <div class="collapsible-body blue-grey lighten-3">
                                                                            <span style="font-size: 15px;">Nombre:</span>
                                                                            <p><span style="font-size: 15px;">DNI:</span><p>
                                                                            <center>
                                                                                <a class="waves-effect waves-light btn red"><i class="small material-icons right">clear</i>Cancelar</a>
                                                                            </center>                                                                                
                                                                        </div>
                                                                    </li>
                                                                </p>
                                                            </ul>
                                                        </div>
                                                        <center>
                                                            <a class="waves-effect waves-light btn red"><i class="small material-icons right">clear</i>Eliminar dia de trabajo</a>
                                                        </center>                                                        
                                                    </div>
                                                </li>
                                            </p>
                                        </ul>
                                    </div>                             
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s2">
                        <div id="card" class="card-panel brown darken-2">
                            <div class="row">
                                <ul class="collapsible popout">
                                    <span><font size="4" style="color:#e0f7fa;font-weight: bold;"><center>Proximos turnos</center></font></span>
                                    <p>
                                        <li>
                                            <div class="collapsible-header blue-grey lighten-4" style="font-size: 16px;">Turno 1 (Fecha) (Hora)</div>
                                            <div class="collapsible-body blue-grey lighten-4">
                                                <span style="font-size: 15px;">Nombre:</span>
                                                <p><span style="font-size: 15px;">DNI:</span><p>
                                            </div>
                                        </li>
                                    </p>
                                </ul>
                            </div>
                        </div>                                        
                    </div>
                </div>
            </p>
            {% endblock body %}