{% extends 'mainBase.html' %}
{% load static %}
{% block imports %}
{% endblock imports %}
{% block title %}
Perfil retirado
{% endblock title %}  
{% block body %}
<div class="row">   
    <div class="col s12 xl6">
        <ul class="collection with-header">
            <li class="collection-header grey lighten-3"><h4>Turnos</h4></li>
            <li class="collection-item">
                {% if appointments %}
                <table>
                    <thead>
                        <tr>
                            <th>Doctor</th>
                            <th>Hora de atencion</th>
                            <th>Cancelar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for appointment in appointments %}
                        <tr>
                            <td>{{ appointment.work_day.doctor.user.get_full_name }}</td>
                            <td>{{ appointment.time_attendance }}</td>
                            <td><button class="btn btn-flat red-text" onclick="confirm_request('{{ appointment.id }}', '{% url 'appointment_requests' %}', '0')"><i class="material-icons">clear</i></button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                No tienes turnos pendientes
                {% endif %}
            </li>
            <li class="collection-item center-align">
                <a href="{% url 'appointments' %}" class="btn btn-flat red white-text">Solicitar nuevos turnos</a>
            </li>
        </ul>
    </div>
    <div class="col s12 xl6">
        <ul class="collection with-header">
            <li class="collection-header grey lighten-3"><h4>Clases</h4></li>
            <li class="collection-item">
                {% if enrolments %}
                <table>
                    <thead>
                        <tr>
                            <th>Profesores</th>
                            <th>Dias</th>
                            <th>Duracion</th>
                            <th>Salon</th>
                            <th>Cancelar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for enrolment in enrolments %}
                        <tr>
                            <td>
                                {% for teacher in enrolment.classroom.get_teachers %} 
                                    <div>
                                        {{ teacher.person.user.get_full_name }} 
                                    </div>
                                {% endfor %}
                            </td>
                            <td>
                                {% for day in enrolment.classroom.get_classroom_days %} 
                                    <div>
                                        {{ day.get_day_display }} - {{ day.start_hour }}
                                    </div>
                                {% endfor %}
                            </td>
                            <td>{{ enrolment.classroom.duration }}</td>
                            <td>{{ enrolment.classroom.get_next_day.classroom_place.room }}</td>
                            <td><button class="btn btn-flat red-text" onclick="my_ajax('{{ enrolment.id }}', '{% url 'delete_object' %}', 'enrolment_student', '{% url 'profile' %}')"><i class="material-icons">clear</i></button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                No estas matriculado a ninguna clase
                {% endif %}
            </li>
            <li class="collection-item center-align">
                <a href="{% url 'classrooms' %}" class="btn btn-flat red white-text">Solicitar unirse a nuevas clases</a>
            </li>
        </ul>
    </div>
</div>
{% endblock body %}  
