{% extends 'mainBase.html' %}
{% load static %}
{% block imports %}
{% endblock imports %} 
{% block title %}
{% endblock title %} 
{% block navbar %}
{% endblock navbar %}	
{% block body %}
<div class="row">
		<br>
	<div class="col s3">
		<div class="col s12">
			<div class="card">
				<div class="card-content white-text">
					<span class="card-title black-text">Clases</span>
				</div>
				{% if classrooms %}
				<ul class="collapsible">
					{% for classroom in classrooms %}
					<li>
						<div class="collapsible-header">{{ classroom.id }}</div>
						<div class="collapsible-body">
							<div class="row">Descripcion: {{ classroom.description }}</div>
							<div class="row">Duracion: {{ classroom.duration }}</div>
							<div class="row">
								<table>
									<thead>
									<tr>
										<th>Profesor</th>
										<th>Desmatricular</th>
									</tr>
									</thead>
									<tbody>
									{% for enrolment_teacher in classroom.get_enrolment_teachers %}
									<tr>
										<td>{{ enrolment_teacher.person.user.get_full_name }}</td>
										<td>
											<button class="btn btn-flat waves-effect waves-grey">clear</i></button>
										</td>
									</tr>
									{% endfor %}
									</tbody>
								</table>
							</div>
							<table>
								<thead>
									<tr>
										<th>Dia</th>
										<th>Hora</th>
										<th>Lugar</th>
									</tr>
								</thead>
								<tbody>
									{% for classroom_day in classroom.get_classroom_days %}
									<tr>
										<td>{{ classroom_day.get_day_display }}</td>
										<td>{{ classroom_day.start_hour }}</td>
										<td>{{ classroom_day.classroom_place.room }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							<ul class="collapsible">
								<li>
									<div class="collapsible-header">Alumnos</div>
									<div class="collapsible-body">
										{% if classroom.get_enrolment_students %}
											<table>
												<thead>
												  <tr>
													  <th>Nombre</th>
													  <th>Eliminar</th>
												  </tr>
												</thead>
												<tbody>
													{% for enrolment_student in classroom.get_enrolment_students %}
													<tr>
														<td>{{ enrolment_student.person.user.get_full_name }}</td>
														<td><button class="btn btn-flat red-text"><i class="material-icons">clear</i></button></td>
													</tr>
													{% endfor %}
												</tbody>
											</table>
										{% else %}
										No hay alumnos inscriptos
										{% endif %}
									</div>
								</li>
							</ul>
							<center><a class="waves-effect waves-light red btn" href="{% url 'delete' 'Classroom' classroom.id %}"><i class="material-icons right">delete</i>Eliminar</a></center>
						</div>
					</li>
					{% endfor %}		
				</ul>
				{% else %}
				<div class="card-panel teal lighten-3">
						<span>No hay clases actualmente<span>
				</div>
				{% endif %}
			</div>
		</div>
		<div class="col s12">
			<div class="card">
				<div class="card-content white-text">
					<span class="card-title black-text">Turnos</span>
				</div>
				{% if appointments %}
				<ul class="collapsible">
					{% for appointment in appointments %}
						<li>
						  <div class="collapsible-header">{{ appointment.person.user.get_full_name }}-{{ appointment.work_day.day }}</div>
						  <div class="collapsible-body">
							<div class="row">
								Doctor: {{ appointment.work_day.doctor.user.get_full_name }}
							</div>
							<div class="row">
								Horario: {{ appointment.time_attendance }}
							</div>
							<center><button class="waves-effect waves-light red btn"><i class="material-icons right">delete</i>Eliminar</button></center>
						  </div>
						</li>
						{% endfor %}
					</ul>
				{% else %}
				<div class="card-panel teal lighten-3">
					<span>No hay Turnos actualmente<span>
				</div>
				{% endif %}
			</div>
		</div>
		<div class="col s12">
			<div class="card">
				<div class="card-content white-text">
					<span class="card-title black-text">Crear salon</span>
				</div>
				<ul class="collapsible">
					<li>
						<div class="collapsible-header">Salon</div>
						<div class="collapsible-body">
							<input placeholder="Nombre del salon" type="text" class="validate"></input>
							<input placeholder="Capacidad" type="number" class="validate" min="1" max="50"></input>
							<h4>
								
							</h4>
							<center><button class="btn btn-flat waves-effect waves-grey">Crear</button></center>
						</div>
					</li>
				</ul>				
			</div>			
		</div>
	</div>
	<div class="col s6">
		<div class="card">
				<div class="card-content">
						<span class="card-title center">Solicitudes</span>
						<div class="card-content grey-text">
							<span class="card-content center">Aqui se encontraran las solicitudes de los usuarios de la pagina</span>
						</div>
					</div>
			<ul class="collapsible">
			{% if person_requests %}
				<li>
					<div class="collapsible-header">Solicitudes de cuentas</div>
					<div class="collapsible-body">
							<table>
								<thead>
									<tr>
										<th>Nombre</th>
										<th>Dni</th>
										<th>email</th>
										<th>tipo de usuario</th>
										<th>Aceptar/Rechazar</th>
									</tr>
								</thead>
								<tbody>
									{% for person_request in person_requests %}
									<tr>
										<td>{{ person_request.first_name }} {{ person_request.last_name }}</td>
										<td>{{ person_request.personal_id }}</td>
										<td>{{ person_request.email }}</td>
										<td>{{ person_request.get_user_type_display }}</td>
										<td>
											<button class="btn btn-flat green-text" onclick="model_and_id('{% url 'approve' %}', 'Person_request', '{{ person_request.id }}')"><i class="material-icons">check</i></button>
											<button class="btn btn-flat red-text"><i class="material-icons">clear</i></button>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
					</div>
				</li>
			{% endif %}
			{% if classroom_requests %}
				{% for classroom_request in classroom_requests %}
				<li>
					<div class="collapsible-header">{{ classroom_request.teacher.user.get_full_name }} ha solicitado una clase</div>
					<div class="collapsible-body">
						<div class="row">	
							<div class="col s12">
								Nombre: {{ classroom_request.name }}
							</div>
							<div class="col s12">
								Descripcion: {{ classroom_request.description }}
							</div>
							<div class="col s12">
								Duracion: {{ classroom_request.duration }}
								<h4>
								
								</h4>
							</div>
							<div class="col s12">
								<table>
									<thead>
									<tr>
										<th>Dia</th>
										<th>Hora</th>
									</tr>
									</thead>
									<tbody>
									{% for classroom_day_request in classroom_request.get_days %}
									<tr>
										<td>{{ classroom_day_request.get_day_display }}</td>
										<td>{{ classroom_day_request.start_hour }}</td>
									</tr>
									{% endfor %}
									</tbody>
								</table>
							</div>
							<div class="col s12">
									<br>
								<div class="input-field col s12">
									<select id="select_place">
										{% for classroom_place in classroom_places %}
											<option value="{{ classroom_place.id }}">Salon: {{ classroom_place.room }} - capacidad {{ classroom_place.capacity }}</option>
										{% endfor %}	
									</select>
									<label class="black-text">Lugar</label>
								</div>
							</div>
						</div>
						<center>
							<button class="btn btn-flat green-text"><i class="material-icons">check</i>Aceptar</button>
							<button class="btn btn-flat red-text"><i class="material-icons">clear</i>Rechazar</button>
						</center>
					</div>
				</li>
				{% endfor %}
			{% endif %}
			{% if enrolment_teacher_requests %}
			<li>
				<div class="collapsible-header">Solicitudes de unirse a una clase como profesor</div>
				<div class="collapsible-body">
					<table>
						<thead>
							<tr>
								<th>Profesor</th>
								<th>Clase</th>
								<th>Aceptar/Rechazar</th>
							</tr>
						</thead>
						<tbody>
							{% for enrolment_teacher_request in enrolment_teacher_requests %}
							<tr>
								<td>{{ enrolment_teacher_request.person.user.get_full_name }}</td>
								<td>{{ enrolment_teacher_request.classroom.name }}</td>
								<td>
									<button class="btn btn-flat green-text"><i class="material-icons">check</i></button>
									<button class="btn btn-flat red-text"><i class="material-icons">clear</i></button>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</li>
			{% endif %}
			{% if enrolment_student_requests %}
			<li>
				<div class="collapsible-header">Solicitudes de unirse a una clase como alumno</div>
				<div class="collapsible-body">
					<table>
						<thead>
							<tr>
								<th>Alumno</th>
								<th>Clase</th>
								<th>Aceptar/Rechazar</th>
							</tr>
						</thead>
						<tbody>
							{% for enrolment_student_request in enrolment_student_requests %}
							<tr>
								<td>{{ enrolment_student_request.person.user.get_full_name }}</td>
								<td>{{ enrolment_student_request.classroom.name }}</td>
								<td>
									<button class="btn btn-flat green-text"><i class="material-icons">check</i></button>
									<button class="btn btn-flat red-text"><i class="material-icons">clear</i></button>	
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</li>
			{% endif %}
			{% if work_day_request %}
			<li>
				<div class="collapsible-header">Solicitudes de dias de trabajo</div>
				<div class="collapsible-body">
					<table>
						<thead>
							<tr>
								<th>Doctor</th>
								<th>Hora de inicio</th>
								<th>Hora de finalizacion</th>
								<th>Fecha</th>
								<th>Aceptar/Rechazar</th>
							</tr>
						</thead>
						<tbody>
							{% for work_day_request in work_day_request %}
							<tr>
								<td>{{ work_day_request.doctor.user.get_full_name }}</td>
								<td>{{ work_day_request.start_hour }}</td>
								<td>{{ work_day_request.finish_hour }}</td>
								<td>{{ work_day_request.day }}</td>
								<td>
									<button class="btn btn-flat green-text"><i class="material-icons">check</i></button>
									<button class="btn btn-flat red-text"><i class="material-icons">clear</i></button>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</li>
			{% endif %}
			{% if appointment_requests %}
				<li>
					<div class="collapsible-header">Solicitudes de turnos</div>
					<div class="collapsible-body">
						<table>
							<thead>
								<tr>
									<th>Paciente</th>
									<th>Dia</th>
									<th>Hora de atencion</th>
									<th>Doctor</th>
									<th>Aceptar/Rechazar</th>
								</tr>
							</thead>
							<tbody>
								{% for appointment_request in appointment_requests %}
								<tr>
									<td>{{ appointment_request.person.user.get_full_name }}</td>
									<td>{{ appointment_request.work_day.day }}</td>
									<td>{{ appointment_request.time_attendance }}</td>
									<td>{{ appointment_request.work_day.doctor.user.get_full_name }}</td>
									<td>
										<button class="btn btn-flat green-text"><i class="material-icons">check</i></button>
										<button class="btn btn-flat red-text"><i class="material-icons">clear</i></button>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</li>
			{% endif %}
			</ul>
		</div>
	</div>
	<div class="col s3">
		<div class="col s12">
			<div class="card">
				<div class="card-content white-text">
					<span class="card-title black-text">Profesores</span>
				</div>
				{% if teachers %}
				<ul class="collapsible">
					<li>
						<div class="collapsible-header">Lista</div>
						<div class="collapsible-body">
							<table>
								<thead>
									<tr>
										<th>Nombre</th>
										<th>Dni</th>
										<th>Eliminar</th>
									</tr>
								</thead>
								<tbody>
									{% for teacher in teachers %}
									<tr>
										<td>{{ teacher.user.get_full_name }}</td>
										<td>{{ teacher.user.username }}</td>
										<td><button class="btn btn-flat red-text"><i class="material-icons">clear</i></button></td>
									</tr>
									{% endfor %}		
								</tbody>
							</table>
						</div>
					</li>
				</ul>
				{% else %}
				<div class="card-panel teal lighten-3">
						<span>No hay doctores registrados<span>
				</div>
				{% endif %}
			</div>
		</div>
		<div class="col s12">
			<div class="card">
				<div class="card-content white-text">
					<span class="card-title black-text">Jubilados</span>
				</div>
				{% if retireds %}
				<ul class="collapsible">
					<li>
						<div class="collapsible-header">Lista</div>
						<div class="collapsible-body">
							<table>
								<thead>
									<tr>
										<th>Nombre</th>
										<th>Dni</th>
										<th>Eliminar</th>
									</tr>
								</thead>
								<tbody>
									{% for retired in retireds %}
									<tr>
										<td>{{ retired.user.get_full_name }}</td>
										<td>{{ retired.user.username }}</td>
										<td><button class="btn btn-flat red-text"><i class="material-icons">clear</i></button></td>
									</tr>
									{% endfor %}		
								</tbody>
							</table>
						</div>
					</li>
				</ul>
				{% else %}
				<div class="card-panel teal lighten-3">
						<span>No hay jubilados registrados<span>
				</div>
				{% endif %}
			</div>
		</div>
		<div class="col s12">
			<div class="card">
				<div class="card-content white-text">
					<span class="card-title black-text">Doctores</span>
				</div>
				{% if doctors %}
				<ul class="collapsible">
					<li>
						<div class="collapsible-header">Lista</div>
						<div class="collapsible-body">
							<table>
								<thead>
									<tr>
										<th>Nombre</th>
										<th>Dni</th>
										<th>Eliminar</th>
									</tr>
								</thead>
								<tbody>
									{% for doctor in doctors %}
									<tr>
										<td>{{ doctor.user.get_full_name }}</td>
										<td>{{ doctor.user.username }}</td>
										<td><button class="btn btn-flat red-text"><i class="material-icons">clear</i></button></td>
									</tr>
									{% endfor %}		
								</tbody>
							</table>
						</div>
					</li>
				</ul>
				{% else %}
				<div class="card-panel teal lighten-3">
						<span>No hay doctores registrados<span>
				</div>
				{% endif %}
			</div>
		</div>
		<div class="col s12">
			<div class="card">
				<div class="card-content white-text">
					<span class="card-title black-text">Salones</span>
				</div>
				<ul class="collapsible">
					<li>
						<div class="collapsible-header">Salones</div>
						<div class="collapsible-body">
							<table>
								<thead>
									<tr>
										<th>Nombre</th>
										<th>Capacidad</th>
										<th>Eliminar</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td></td>
										<td></td>
										<td><button class="btn btn-flat red-text"><i class="material-icons">clear</i></button></td>
									</tr>		
								</tbody>
							</table>
						</div>
					</li>
				</ul>				
			</div>			
		</div>
	</div>
</div>
{% endblock body %}